been/src/cz/cuni/mff/been/jaxb/properties.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema
	targetNamespace="http://been.mff.cuni.cz/hostmanager/properties"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"	
	xmlns:properties="http://been.mff.cuni.cz/hostmanager/properties"
	xmlns:common="http://been.mff.cuni.cz/common"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc"
	jaxb:extensionBindingPrefixes="xjc"
	jaxb:version="2.0">

	<xs:import schemaLocation="common.xsd" namespace="http://been.mff.cuni.cz/common"/>
	<xs:include schemaLocation="attrtypes.xsd"/>
	
	<xs:attributeGroup name="unitAttrGroup">
		<xs:attribute name="unit" type="xs:string" use="optional"/>
	</xs:attributeGroup>
	
	<xs:complexType name="NamedBoolean">															<!-- NVP -->
		<xs:annotation>
			<xs:appinfo>
				<jaxb:property>
					<jaxb:baseType>
						<jaxb:javaType name="Boolean"/>
					</jaxb:baseType>
				</jaxb:property>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:boolean">
				<xs:attributeGroup ref="properties:nameAttrGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="NamedInt">																<!-- TupLit, NVP -->
		<xs:annotation>
			<xs:appinfo>
				<jaxb:property>
					<jaxb:baseType>
						<jaxb:javaType name="Integer"/>
					</jaxb:baseType>
				</jaxb:property>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:int">
				<xs:attributeGroup ref="properties:nameAttrGroup"/>
				<xs:attributeGroup ref="properties:unitAttrGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="NamedDouble">																<!-- TupLit, NVP -->
		<xs:annotation>
			<xs:appinfo>
				<jaxb:property>
					<jaxb:baseType>
						<jaxb:javaType name="Double"/>
					</jaxb:baseType>
				</jaxb:property>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:double">
				<xs:attributeGroup ref="properties:nameAttrGroup"/>
				<xs:attributeGroup ref="properties:unitAttrGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="NamedString">																<!-- TupLit, NVP -->
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attributeGroup ref="properties:nameAttrGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:complexType name="NamedRegexp">																<!-- NVP -->
		<xs:annotation>
			<xs:appinfo>
				<jaxb:property>
					<jaxb:baseType>
						<jaxb:javaType
							name="java.util.regex.Pattern"
							parseMethod="java.util.regex.Pattern.compile"
							printMethod="String.valueOf"
						/>
					</jaxb:baseType>
				</jaxb:property>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attributeGroup ref="properties:nameAttrGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="NamedVersion">															<!-- NVP -->
		<xs:annotation>
			<xs:appinfo>
				<jaxb:property>
					<jaxb:baseType>
						<jaxb:javaType
							name="cz.cuni.mff.been.hostmanager.value.ValueVersion"
							parseMethod="cz.cuni.mff.been.hostmanager.value.ValueVersion.fromString"
							printMethod="String.valueOf"
						/>
					</jaxb:baseType>
				</jaxb:property>
			</xs:appinfo>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="common:VersionStringStrict">
				<xs:attributeGroup ref="properties:nameAttrGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	
	<xs:attributeGroup name="boundAttrGroup">
		<xs:attribute name="open" type="xs:boolean" use="optional" default="false"/>
	</xs:attributeGroup>

	<xs:complexType name="NamedRangeBoolean">
		<xs:all>
			<xs:element name="lbound" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="lBound"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:annotation>
						<xs:appinfo>
							<jaxb:class name="LBound"/>
							<jaxb:property>
								<jaxb:baseType>
									<jaxb:javaType name="Boolean"/>
								</jaxb:baseType>
							</jaxb:property>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleContent>
						<xs:extension base="xs:boolean">
							<xs:attributeGroup ref="properties:boundAttrGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ubound" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="uBound"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:annotation>
						<xs:appinfo>
							<jaxb:class name="UBound"/>
							<jaxb:property>
								<jaxb:baseType>
									<jaxb:javaType name="Boolean"/>
								</jaxb:baseType>
							</jaxb:property>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleContent>
						<xs:extension base="xs:boolean">
							<xs:attributeGroup ref="properties:boundAttrGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attributeGroup ref="properties:nameAttrGroup"/>
	</xs:complexType>

	<xs:complexType name="NamedRangeInt">
		<xs:all>
			<xs:element name="lbound" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="lBound"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:annotation>
						<xs:appinfo>
							<jaxb:class name="LBound"/>
							<jaxb:property>
								<jaxb:baseType>
									<jaxb:javaType name="Integer"/>
								</jaxb:baseType>
							</jaxb:property>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleContent>
						<xs:extension base="xs:int">
							<xs:attributeGroup ref="properties:boundAttrGroup"/>
							<xs:attributeGroup ref="properties:unitAttrGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ubound" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="uBound"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:annotation>
						<xs:appinfo>
							<jaxb:class name="UBound"/>
							<jaxb:property>
								<jaxb:baseType>
									<jaxb:javaType name="Integer"/>
								</jaxb:baseType>
							</jaxb:property>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleContent>
						<xs:extension base="xs:int">
							<xs:attributeGroup ref="properties:boundAttrGroup"/>
							<xs:attributeGroup ref="properties:unitAttrGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attributeGroup ref="properties:nameAttrGroup"/>
	</xs:complexType>

	<xs:complexType name="NamedRangeDouble">
		<xs:all>
			<xs:element name="lbound" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="lBound"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:annotation>
						<xs:appinfo>
							<jaxb:class name="LBound"/>
							<jaxb:property>
								<jaxb:baseType>
									<jaxb:javaType name="Double"/>
								</jaxb:baseType>
							</jaxb:property>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleContent>
						<xs:extension base="xs:double">
							<xs:attributeGroup ref="properties:boundAttrGroup"/>
							<xs:attributeGroup ref="properties:unitAttrGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ubound" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="uBound"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:annotation>
						<xs:appinfo>
							<jaxb:class name="UBound"/>
							<jaxb:property>
								<jaxb:baseType>
									<jaxb:javaType name="Double"/>
								</jaxb:baseType>
							</jaxb:property>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleContent>
						<xs:extension base="xs:double">
							<xs:attributeGroup ref="properties:boundAttrGroup"/>
							<xs:attributeGroup ref="properties:unitAttrGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attributeGroup ref="properties:nameAttrGroup"/>
	</xs:complexType>

	<xs:complexType name="NamedRangeString">
		<xs:all>
			<xs:element name="lbound" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="lBound"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:annotation>
						<xs:appinfo>
							<jaxb:class name="LBound"/>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="properties:boundAttrGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ubound" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="uBound"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:annotation>
						<xs:appinfo>
							<jaxb:class name="UBound"/>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="properties:boundAttrGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attributeGroup ref="properties:nameAttrGroup"/>
	</xs:complexType>

	<xs:complexType name="NamedRangeRegexp">
		<xs:all>
			<xs:element name="lbound" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="lBound"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:annotation>
						<xs:appinfo>
							<jaxb:class name="LBound"/>
							<jaxb:property>
								<jaxb:baseType>
									<jaxb:javaType
										name="java.util.regex.Pattern"
										parseMethod="java.util.regex.Pattern.compile"
										printMethod="String.valueOf"
									/>
								</jaxb:baseType>
							</jaxb:property>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="properties:boundAttrGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ubound" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="uBound"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:annotation>
						<xs:appinfo>
							<jaxb:class name="UBound"/>
							<jaxb:property>
								<jaxb:baseType>
									<jaxb:javaType
										name="java.util.regex.Pattern"
										parseMethod="java.util.regex.Pattern.compile"
										printMethod="String.valueOf"
									/>
								</jaxb:baseType>
							</jaxb:property>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="properties:boundAttrGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attributeGroup ref="properties:nameAttrGroup"/>
	</xs:complexType>

	<xs:complexType name="NamedRangeVersion">
		<xs:all>
			<xs:element name="lbound" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="lBound"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:annotation>
						<xs:appinfo>
							<jaxb:class name="LBound"/>
							<jaxb:property>
								<jaxb:baseType>
									<jaxb:javaType
										name="cz.cuni.mff.been.hostmanager.value.ValueVersion"
										parseMethod="cz.cuni.mff.been.hostmanager.value.ValueVersion.fromString"
										printMethod="String.valueOf"
									/>
								</jaxb:baseType>
							</jaxb:property>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleContent>
						<xs:extension base="common:VersionStringStrict">
							<xs:attributeGroup ref="properties:boundAttrGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ubound" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="uBound"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexType>
					<xs:annotation>
						<xs:appinfo>
							<jaxb:class name="UBound"/>
							<jaxb:property>
								<jaxb:baseType>
									<jaxb:javaType
										name="cz.cuni.mff.been.hostmanager.value.ValueVersion"
										parseMethod="cz.cuni.mff.been.hostmanager.value.ValueVersion.fromString"
										printMethod="String.valueOf"
									/>
								</jaxb:baseType>
							</jaxb:property>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleContent>
						<xs:extension base="common:VersionStringStrict">
							<xs:attributeGroup ref="properties:boundAttrGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:all>
		<xs:attributeGroup ref="properties:nameAttrGroup"/>
	</xs:complexType>
	
	<xs:complexType name="NamedListBoolean">
		<xs:sequence>
			<xs:element name="item" minOccurs="0" maxOccurs="unbounded" nillable="true">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:boolean">
							<xs:attributeGroup ref="properties:indexAttrGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="properties:nameAttrGroup"/>
	</xs:complexType>
	
	<xs:complexType name="NamedListInt">
		<xs:sequence>
			<xs:element name="item" minOccurs="0" maxOccurs="unbounded" nillable="true">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:int">
							<xs:attributeGroup ref="properties:indexAttrGroup"/>
							<xs:attributeGroup ref="properties:unitAttrGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="properties:nameAttrGroup"/>
	</xs:complexType>
	
	<xs:complexType name="NamedListDouble">
		<xs:sequence>
			<xs:element name="item" minOccurs="0" maxOccurs="unbounded" nillable="true">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:double">
							<xs:attributeGroup ref="properties:indexAttrGroup"/>
							<xs:attributeGroup ref="properties:unitAttrGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="properties:nameAttrGroup"/>
	</xs:complexType>
	
	<xs:complexType name="NamedListString">
		<xs:sequence>
			<xs:element name="item" minOccurs="0" maxOccurs="unbounded" nillable="true">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="properties:indexAttrGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="properties:nameAttrGroup"/>
	</xs:complexType>
	
	<xs:complexType name="NamedListRegexp">
		<xs:sequence>
			<xs:element name="item" minOccurs="0" maxOccurs="unbounded" nillable="true">
				<xs:complexType>
					<xs:annotation>
						<xs:appinfo>
							<jaxb:property>
								<jaxb:baseType>
									<jaxb:javaType
										name="java.util.regex.Pattern"
										parseMethod="java.util.regex.Pattern.compile"
										printMethod="String.valueOf"
									/>
								</jaxb:baseType>
							</jaxb:property>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attributeGroup ref="properties:indexAttrGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="properties:nameAttrGroup"/>
	</xs:complexType>
	
	<xs:complexType name="NamedListVersion">
		<xs:sequence>
			<xs:element name="item" minOccurs="0" maxOccurs="unbounded" nillable="true">
				<xs:complexType>
					<xs:annotation>
						<xs:appinfo>
							<jaxb:property>
								<jaxb:baseType>
									<jaxb:javaType
										name="cz.cuni.mff.been.hostmanager.value.ValueVersion"
										parseMethod="cz.cuni.mff.been.hostmanager.value.ValueVersion.fromString"
										printMethod="String.valueOf"
									/>
								</jaxb:baseType>
							</jaxb:property>
						</xs:appinfo>
					</xs:annotation>
					<xs:simpleContent>
						<xs:extension base="common:VersionStringStrict">
							<xs:attributeGroup ref="properties:indexAttrGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="properties:nameAttrGroup"/>
	</xs:complexType>

	<xs:group name="nvpGroup">																		<!-- NVP -->
		<xs:choice>
			<xs:element name="bool" type="properties:NamedBoolean" nillable="true"/>
			<xs:element name="int" type="properties:NamedInt" nillable="true"/>
			<xs:element name="double" type="properties:NamedDouble" nillable="true"/>
			<xs:element name="string" type="properties:NamedString" nillable="true"/>
			<xs:element name="regexp" type="properties:NamedRegexp" nillable="true"/>
			<xs:element name="version" type="properties:NamedVersion" nillable="true"/>
			<xs:element name="rbool" type="properties:NamedRangeBoolean" nillable="false"/>
			<xs:element name="rint" type="properties:NamedRangeInt" nillable="false"/>
			<xs:element name="rdouble" type="properties:NamedRangeDouble" nillable="false"/>
			<xs:element name="rstring" type="properties:NamedRangeString" nillable="false"/>
			<xs:element name="rregexp" type="properties:NamedRangeRegexp" nillable="false"/>
			<xs:element name="rversion" type="properties:NamedRangeVersion" nillable="false"/>
			<xs:element name="lbool" type="properties:NamedListBoolean" nillable="false">
				<xs:unique name="uniqueIndexInList">
					<xs:selector xpath="properties:item"/>
					<xs:field xpath="@index"/>
				</xs:unique>
			</xs:element>
			<xs:element name="lint" type="properties:NamedListInt" nillable="false">
				<xs:unique name="uniqueIndexInIntList">
					<xs:selector xpath="properties:item"/>
					<xs:field xpath="@index"/>
				</xs:unique>
			</xs:element>
			<xs:element name="ldouble" type="properties:NamedListDouble" nillable="false">
				<xs:unique name="uniqueIndexInDoubleList">
					<xs:selector xpath="properties:item"/>
					<xs:field xpath="@index"/>
				</xs:unique>
			</xs:element>
			<xs:element name="lstring" type="properties:NamedListString" nillable="false">
				<xs:unique name="uniqueIndexInStringList">
					<xs:selector xpath="properties:item"/>
					<xs:field xpath="@index"/>
				</xs:unique>
			</xs:element>
			<xs:element name="lregexp" type="properties:NamedListRegexp" nillable="false">
				<xs:unique name="uniqueIndexInRegexpList">
					<xs:selector xpath="properties:item"/>
					<xs:field xpath="@index"/>
				</xs:unique>
			</xs:element>
			<xs:element name="lversion" type="properties:NamedListVersion" nillable="false">
				<xs:unique name="uniqueIndexInVersionList">
					<xs:selector xpath="properties:item"/>
					<xs:field xpath="@index"/>
				</xs:unique>
			</xs:element>
		</xs:choice>
	</xs:group>

	<!-- Host properties definitions -->

	<xs:complexType name="Remove">
		<xs:attributeGroup ref="properties:nameAttrGroup"/>
	</xs:complexType>
	
	<xs:complexType name="RemoveIndexed">
		<xs:complexContent>
			<xs:extension base="properties:Remove">
				<xs:attributeGroup ref="properties:indexAttrGroup"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="Simple">
		<xs:sequence>
			<xs:element name="remove" type="properties:Remove" minOccurs="0" maxOccurs="unbounded"/>
			<xs:group ref="properties:nvpGroup" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="properties"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:group>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Complex">
		<xs:sequence>
			<xs:element name="remove" type="properties:RemoveIndexed" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="properties:tree" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="subtrees"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="Tree">
		<xs:group ref="properties:recursiveGroup"/>
		<xs:attributeGroup ref="properties:nameAttrGroup"/>
		<xs:attributeGroup ref="properties:indexAttrGroup"/>
	</xs:complexType>
	
	<xs:element name="tree" type="properties:Tree"/>
	
	<xs:element name="simple" type="properties:Simple">												<!-- Remove & Add useless. -->
		<xs:unique name="uniqueNameInSimple">			
			<xs:selector xpath="*"/>
			<xs:field xpath="@name"/>
		</xs:unique>
	</xs:element>
	
	<!--
	A note about the following uniqueness constraint: When index is not set (when inserting
	new subtrees), uniqueness wouldn't make sense. You can't specify indices (since you never
	know them in advance) and you can have multiple subtrees of the same name (which will get
	different indices). So neither names alone nor indices alone will be unique. However,
	it is good to enforce uniqueness when editing (both name and index specified). In this case,
	you prabably don't want to edit one subtree twice.
	
	Unfortunately, XML schema doesn't support the [@attribute] selector. So we have to leave
	this unchecked. If someone edits a subtree multiple times, it's just his own mistake. ;-)
	 -->
	<xs:element name="complex" type="properties:Complex">											<!-- Remove & Add useless. -->
		<!--
		<xs:unique name="uniqueNameInComplex">			
			<xs:selector xpath="*[@index]"/>
			<xs:field xpath="@name"/>
			<xs:field xpath="@index"/>
		</xs:unique>
		-->
	</xs:element>
	
	<xs:group name="recursiveGroup">
		<xs:all>
			<xs:element ref="properties:simple" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="properties:complex" minOccurs="0" maxOccurs="1"/>
		</xs:all>
	</xs:group>
	
	<xs:element name="properties">
		<xs:complexType>
			<xs:group ref="properties:recursiveGroup" minOccurs="1" maxOccurs="1"/>
		</xs:complexType>
	</xs:element>
	
	<!-- Alias definitions  -->
	
	<xs:group name="nvpsGroup">
		<xs:sequence>
			<xs:group ref="properties:nvpGroup" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:appinfo>
						<jaxb:property name="items"/>
					</xs:appinfo>
				</xs:annotation>
			</xs:group>
		</xs:sequence>
	</xs:group>
	
    <xs:attributeGroup name="objectAttrGroup">
    	<xs:attribute name="path" type="xs:string" use="required"/>
    </xs:attributeGroup>
    
    <xs:complexType name="TheObject">
    	<xs:group ref="properties:nvpsGroup"/>
    	<xs:attributeGroup ref="properties:objectAttrGroup"/>
    </xs:complexType>
    
 	<xs:attributeGroup name="aliasAttrGroup">
		<xs:attribute name="name" type="common:IDStringRelaxed" use="required"/>
	</xs:attributeGroup>

	<xs:complexType name="ChangedString">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attributeGroup ref="properties:changedAttrGroup"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:element name="object" type="properties:TheObject">
		<xs:unique name="uniqueItemName">
			<xs:selector xpath="*"/>
			<xs:field xpath="@name"/>
		</xs:unique>
	</xs:element>

	<xs:element name="rsl" type="xs:string">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:property name="RSL">
					<jaxb:baseType>
						<jaxb:javaType
							name="cz.cuni.mff.been.common.rsl.Condition"
							parseMethod="cz.cuni.mff.been.jaxb.Convertor.parseRSL"
							printMethod="String.valueOf"
						/>
					</jaxb:baseType>
				</jaxb:property>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="Restriction">
		<xs:choice>
			<xs:element ref="properties:object"/>
			<xs:element ref="properties:rsl"/>
		</xs:choice>
		<xs:attributeGroup ref="properties:changedAttrGroup"/>
	</xs:complexType>

	<xs:element name="product" type="properties:ChangedString"/>
	<xs:element name="version" type="properties:ChangedString"/>
	<xs:element name="vendor" type="properties:ChangedString"/>
	<xs:element name="osRestriction" type="properties:Restriction">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:property name="OSRestriction"/>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>
	<xs:element name="appRestriction" type="properties:Restriction"/>
	
	<xs:element name="alias">
		<xs:complexType>
			<xs:all>
				<xs:element ref="properties:product" minOccurs="1" maxOccurs="1"/>
				<xs:element ref="properties:vendor" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="properties:version" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="properties:osRestriction" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="properties:appRestriction" minOccurs="1" maxOccurs="1"/>
			</xs:all>
			<xs:attributeGroup ref="properties:freeNameAttrGroup"/>
		</xs:complexType>
	</xs:element>	
</xs:schema>